<ng-container *ngIf="allData$ | async">
  <ng-container *ngIf="configsFromRedis$ | async as data">
    <mat-card>
      <mat-card-header>
        <mat-card-title>USSD Application Setup</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <form [formGroup]="ussdBasicDataForm" (ngSubmit)="submit()">
          <section class="checkbox-section" [formGroup]="ussdBasicDataForm">
            <p><mat-checkbox formControlName="loadProfile">Load User Profile</mat-checkbox></p>
            <p><mat-checkbox formControlName="authenticate" (change)="toggleAuth()">Authenticate</mat-checkbox></p>
            <p><mat-checkbox formControlName="internalAuthentication">Internal Authentication</mat-checkbox></p>
            <p><mat-checkbox formControlName="authenticateUsePage">Authenticate Use Page</mat-checkbox></p>
            <p><mat-checkbox formControlName="authenticateTransactions">Authenticate Transactions</mat-checkbox></p>
          </section>
          <mat-form-field appearance="fill">
            <mat-label>Name</mat-label>
            <input matInput formControlName="ussdName" placeholder="xyz-ussd@0.0.1" />
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>Language</mat-label>
            <mat-select formControlName="language" name="language">
              <mat-option *ngFor="let lang of languagesArray" [value]="lang">{{ lang }}</mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>Pin Trial Max</mat-label>
            <input matInput type="number" formControlName="pinTrialMax" placeholder="3" />
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>USSD Response Format</mat-label>
            <mat-select formControlName="ussdResponseFormat" name="ussd-response-format">
              <mat-option *ngFor="let format of responseFormatsArray" [value]="format">{{ format }}</mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>First Page Type</mat-label>
            <mat-select formControlName="firstPageType" name="firstPageType" (selectionChange)="onChange($event.value)">
              <mat-option *ngFor="let type of ['Page', 'Prompt']" [value]="type">{{ type }}</mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field appearance="fill" *ngIf="selectedFirstTypeList.length > 0">
            <mat-label>First Page/Prompt</mat-label>
            <mat-select formControlName="firstPage" name="firstPage" (selectionChange)="selectPromptStep($event)">
              <mat-option *ngFor="let item of selectedFirstTypeList" [value]="item">{{ item }}</mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field appearance="fill" *ngIf="ussdBasicDataForm.controls['firstPageType'].value == 'Prompt'">
            <mat-label>First Prompt Step</mat-label>
            <input matInput formControlName="firstPromptStep" disabled />
          </mat-form-field>
          <div class="button-container">
            <button type="submit" mat-raised-button color="primary" [disabled]="!ussdBasicDataForm.valid">Submit</button>
          </div>
        </form>
      </mat-card-content>
    </mat-card>
  </ng-container>
</ng-container>
