.requestTable, .headersTable {
    max-height: 200px;
    overflow-y: auto;
  
    table {
      width: 100%;
      color: #23282c;

      tr:nth-of-type(odd) {
        background: rgb(220, 215, 215);
      }
  
      th,
      td {
        color: black;
        text-align: center;
      }
  
      td {
        font-size: x-small;
        border: 1px solid;
      }
  
      th {
        background: #3f51b5;
        text-transform: uppercase;
        color: white;
        //   padding-bottom: 1rem;
      }
  
      .actionRow {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
      }
  
      mat-icon {
        font-size: 1rem;
      }
  
      .edit {
        color: blue;
      }
  
      .delete {
        color: red;
      }
    }
  }
  