<div class="forgotBody">
    <div class="content">
        <mat-card-content>
            <h2 class="text-center">Password Recovery</h2>
            <p i18n>Please enter your email. A new Password will be sent to you.</p>
            <form [formGroup]="forgotForm">
                <mat-form-field appearance="fill">
                    <mat-label>Email</mat-label>
                    <input matInput placeholder="Enter your email" name="email" formControlName="email">
                    <small *ngIf="forgotForm.controls['email'].invalid && (forgotForm.controls['email'].dirty || forgotForm.controls['email'].touched)" class="formErrors">
                        <small *ngIf="forgotForm.controls['email'].errors.required">
                            Email is required
                        </small>
                        <small *ngIf="forgotForm.controls['email'].errors.email || forgotForm.controls['email'].errors.pattern">
                            Email provided is invalid
                        </small>
                    </small>
                </mat-form-field>

                <button mat-raised-button color="primary" [disabled]="forgotForm.invalid" (click)="submit()">
                    Submit
                </button>
            </form>
        </mat-card-content>
    </div>
    <div class="circle" style="animation-delay: 0s"></div>
    <div class="circle" style="animation-delay: 1s"></div>
    <div class="circle" style="animation-delay: 2s"></div>
    <div class="circle" style="animation-delay: 3s"></div>
    <div class="circle" style="animation-delay: 4s"></div>
</div>

<div *ngIf="obsv$ | async as resp">
    <h1>{{ resp.msg }}</h1>
  </div>