h1,
h2 {
  text-align: center;
  color: #000;
  font-size: 50px;
}

.context {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  // width: 100%;

  .card2,
  .card3 {
    min-width: 380px;
    max-width: 400px;
    min-height: 500px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .mat-card-header {
      border-bottom: 3px solid #3f51b5;
    }
  }

  .card2 {
    input {
      margin-bottom: 10px;
    }
  }

  .card3 {
    min-height: 250px;

    .mat-card-header {
      margin: 0 auto;
    }
  }

  .redis-container {
    display: flex;
    flex-direction: column;
    align-items: initial;
    margin-top: 10px !important;
  }
}

.save {
  margin-right: 8px;
}

[nz-button] {
  margin-right: 8px;
  margin-bottom: 12px;
  background-color: #3f51b5;
}

form {
  // mat-form-field {
  //   width: 13%;
  //   margin: 0 2px;
  // }

  .addServerBtn {
    margin: 0 10px;
  }
}

.serverTable {
  border: 2px solid #3f51b5;
  padding: 1rem;
  margin-top: 2px;
  width: 50%;
  overflow-x: auto;
  border-radius: 5px;

  table {
    width: 100%;
    color: #23282c;

    tr:nth-of-type(odd) {
      background: rgb(220, 215, 215);
    }

    th,
    td {
      color: black;
      text-align: center;
    }

    td {
      border-right: 1px solid #000;
      font-size: x-small;
      padding: 1px;
    }

    th {
      background: #3f51b5;
      text-transform: uppercase;
      color: white;
      padding-bottom: 1rem;
    }

    .actionRow {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: row;
    }

    mat-icon {
      font-size: 1rem;
    }

    .edit {
      color: blue;
    }

    .delete {
      color: red;
    }
  }
}
