<div class="changePasswordBody">
    <div class="content">
        <mat-card-content>
            <h2 class="text-center">Change Password for the USSD Portal</h2>
            <form [formGroup]="changePasswordForm">
                <mat-form-field appearance="fill">
                    <mat-label>Email</mat-label>
                    <input matInput placeholder="Enter your email" name="email" formControlName="email">
                    <small *ngIf="changePasswordForm.controls['email'].invalid && (changePasswordForm.controls['email'].dirty || changePasswordForm.controls['email'].touched)" class="formErrors">
                        <small *ngIf="changePasswordForm.controls['email'].errors.required">
                            Email is required
                        </small>
                        <small *ngIf="changePasswordForm.controls['email'].errors.email || changePasswordForm.controls['email'].errors.pattern">
                            Email provided is invalid
                        </small>
                    </small>
                </mat-form-field>

                <mat-form-field appearance="fill">
                    <mat-label>Old Password</mat-label>
                    <input matInput placeholder="Enter Old Password" name="oldPassword" type="password" formControlName="oldPassword" autocomplete="off" [type]="hide ? 'password' : 'text'">
                    <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                        <mat-icon>{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>
                    </button>
                    <small *ngIf="changePasswordForm.controls['oldPassword'].invalid && (changePasswordForm.controls['oldPassword'].dirty || changePasswordForm.controls['oldPassword'].touched)" class="formErrors">
                        <small *ngIf="changePasswordForm.controls['oldPassword'].error.required">
                            Old Passwod is required
                        </small>
                        <small *ngIf="changePasswordForm.controls['oldPassword'].errors.minlength">
                            Old Password provided is too short
                        </small>
                        <small *ngIf="changePasswordForm.controls['oldPassword'].errors.match_error">
                            Old Password do not match
                        </small>
                    </small>
                </mat-form-field>

                <mat-form-field appearance="fill">
                    <mat-label>New Password</mat-label>
                    <input matInput placeholder="Enter new password" name="password" type="password" formControlName="password" autocomplete="off" [type]="hide1 ? 'password' : 'text'">
                    <button mat-icon-button matSuffix (click)="hide1 = !hide1" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide1">
                        <mat-icon>{{hide1 ? 'visibility' : 'visibility_off'}}</mat-icon>
                    </button>
                    <small *ngIf="changePasswordForm.controls['password'].invalid && (changePasswordForm.controls['password'].dirty || changePasswordForm.controls['password'].touched)" class="formErrors">
                        <small *ngIf="changePasswordForm.controls['password'].errors.required">
                            New Password is required
                        </small>
                        <small *ngIf="changePasswordForm.controls['password'].errors.minlength">
                            New Password provided is too short
                        </small>
                        <small *ngIf="changePasswordForm.controls['password'].errors.match_error">
                            New Passwords do not match
                        </small>
                    </small>
                </mat-form-field>

                <mat-form-field appearance="fill">
                    <mat-label>Confirm Password</mat-label>
                    <input matInput placeholder="Confirm your password" name="confirmPassword" type="password" formControlName="confirmPassword" autocomplete="off" [type]="hide2 ? 'password' : 'text'">
                    <button mat-icon-button matSuffix (click)="hide2 = !hide2" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide2">
                        <mat-icon>{{hide2 ? 'visibility' : 'visibility_off'}}</mat-icon>
                    </button>
                    <small *ngIf="changePasswordForm.controls['confirmPassword'].invalid && (changePasswordForm.controls['confirmPassword'].dirty || changePasswordForm.controls['confirmPassword'].touched)" class="formErrors">
                        <small *ngIf="changePasswordForm.controls['confirmPassword'].errors.required">
                            Confirm Password is required
                        </small>
                        <small *ngIf="changePasswordForm.controls['confirmPassword'].errors.minlength">
                            Confirm Password provided is too short
                        </small>
                    </small>
                    <br>
                    <small *ngIf="changePasswordForm.errors?.mismatch && (changePasswordForm.controls['confirmPassword'].dirty || changePasswordForm.controls['confirmPassword'].touched)" class="formErrors">
                        Passwords do not match
                    </small>
                </mat-form-field>

                <button mat-raised-button color="primary" [disabled]="changePasswordForm.invalid" (click)="submit()">
                    Submit
                </button>
            </form>
        </mat-card-content>
    </div>

  <div class="circle" style="animation-delay: 0s"></div>
  <div class="circle" style="animation-delay: 1s"></div>
  <div class="circle" style="animation-delay: 2s"></div>
  <div class="circle" style="animation-delay: 3s"></div>
  <div class="circle" style="animation-delay: 4s"></div>
</div>

<div *ngIf="obsv$ | async as resp">
    <h1>{{ resp.msg }}</h1>
  </div>